@import url('dist/sty_Keyframes.css');

.encabezado{
    background: #547;
    box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.8);
    color: #fff;
    font-size: 16px;
    padding: 2%;
    text-align: center;
    text-shadow:1px 1px 0px rgba(0,0,0,0.8);
}

.footer{
    background: #547;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-shadow:1px 1px 0px rgba(0,0,0,0.8);
	margin-top: 5%;
	padding: 2%;
}

.container{
	background-color: #fff;
	border-radius: 8px;
	color: #547;
	font-family: 'Arial';
	font-weight: bolder;
	margin: 25px 0 0 20px;
	position: relative;
	text-align: center;
	vertical-align: middle;
}

.container_effect{
	background-color: #547;
	border-radius: 8px;
	color: #fff;
	font-family: 'Arial';
	font-weight: bolder;
	margin: 25px 0 0 20px;
	position: relative;
	text-align: center;
	vertical-align: middle;
	padding: 1%;
}

table{
    text-align: center;
    margin: 5%;
}

.e1:hover{
	-moz-animation: 0.7s flash 1;
    -webkit-animation: 0.7s flash 1;
    -o-animation: 0.7s flash 1;
}

.e2:hover{
	-moz-animation: 2s rebote 1;
	-webkit-animation: 2s rebote 1;
	-o-animation: 2s rebote 1;
}

.e3:hover{
	-moz-animation: 2s chicle 1;
	-webkit-animation: 2s chicle 1;
	-o-animation: 2s chicle 1;
}

.e4:hover{
	-moz-animation: 2s giroX 1;
	-moz-backface-visibility:visible;
	-webkit-animation: 2s giroX 1;
	-webkit-backface-visibility:visible;
	-o-animation: 2s giroX 1;
	-o-backface-visibility:visible;
}

.e5:hover{
	-moz-animation: 2s giro 1;
	-moz-backface-visibility:visible;
	-webkit-animation: 2s giro 1;
	-webkit-backface-visibility:visible;
	-o-animation: 2s giro 1;
	-o-backface-visibility:visible;
}

.e6:hover{
	-moz-animation: 2s salida 1;
	-webkit-animation: 2s salida 1;
	-o-animation: 2s salida 1;
}

.e7:hover{
	-moz-animation: 5s vibracionV infinite;
	-webkit-animation: 5s vibracionV infinite;
	-o-animation: 5s vibracionV infinite;
}

.e8:hover{
	-moz-animation: 5s vibracionH infinite;
	-webkit-animation: 5s vibracionH infinite;
	-o-animation: 5s vibracionH infinite;
}

.e9:hover{
	-moz-animation: 2s cartel 1;
	-moz-transform-origin:top center;
	-webkit-animation: 2s cartel 1;
	-webkit-transform-origin:top center;
	-o-animation: 2s cartel 1;
	-o-transform-origin:top center;
}

.e10:hover{
	-moz-animation: 2s balanceo infinite;
	-webkit-animation: 2s balanceo infinite;
	-o-animation: 2s balanceo infinite;
}

.e11:hover{
	-moz-animation: 2s vaiven infinite;
	-webkit-animation: 2s vaiven infinite;
	-o-animation: 2s vaiven infinite;
}

.e12:hover{
	-moz-animation: 1s reboteIn infinite;
	-webkit-animation: 1s reboteIn infinite;
	-o-animation: 1s reboteIn infinite;
}

.e13:hover{
	-moz-animation: 0.7s click 1;
	-webkit-animation: 0.7s click 1;
	-o-animation: 0.7s click 1;
}

.e14:hover{
	-moz-transform-origin: center;
	-moz-animation: 0.7s giroSimple 1;
	-webkit-transform-origin: center;
	-webkit-animation: 0.7s giroSimple 1;
	-o-transform-origin: center;
	-o-animation: 0.7s giroSimple 1;
}

.e15:hover{
	-moz-animation: 1s rotativoIn 1;
	-webkit-animation: 1s rotativoIn 1;
	-o-animation: 1s rotativoIn 1;
}

.e16:hover{
	-moz-animation: 1s velozIn 1;
	-webkit-animation: 1s velozIn 1;
	-o-animation: 1s velozIn 1;
}

.e17:hover{
	-moz-animation: 1s velozOut 1;
	-webkit-animation: 1s velozOut 1;
	-o-animation: 1s velozOut 1;
}

.e18:hover{
	-moz-animation: 1s descolgado 1;
	-moz-transform-origin: top left;
	-webkit-animation: 1s descolgado 1;
	-webkit-transform-origin: top left;
	-o-animation: 1s descolgado 1;
	-o-transform-origin: top left;
}

.e19:hover{
	-moz-animation: 2s aparicion 1;
	-webkit-animation: 2s aparicion 1;
	-o-animation: 2s aparicion 1;
}

.arrow:before{
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	content: '';
	/*caracteristicas que forman el triangulo*/
	border-color: 	transparent #547
					transparent transparent;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	/*Posicionamiento del triangulo*/
	left: 5px;
	position: absolute;
	top: 50%;
	margin-top: -15px;
}

.arrow:before{
	-moz-animation: 1.5s moverflecha infinite;
	-webkit-animation: 1.5s moverflecha infinite;
	-o-animation: 1.5s moverflecha infinite;
}

.e21:hover{
	-moz-animation: 1s rotativoOut 1;
	-webkit-animation: 1s rotativoOut 1;
	-o-animation: 1s rotativoOut 1;
}

.e22{
	-moz-transition: translateX(0);
	-o-transition: translateX(0);
	-webkit-transition: translateX(0);
}

.e22:hover{
	-moz-transform: translateY(-6px);
	-moz-animation: 1.5s movercaja infinite;
	-webkit-transform: translateY(-6px);
	-webkit-animation: 1.5s movercaja infinite;
	-o-transform: translateY(-6px);
	-o-animation: 1.5s movercaja infinite;
}

.e22:before{
	position: absolute;
	content: '';
	top: 100%;
	left:5%;
	height: 10px;
	width: 90%;
	opacity: 1;
	background: -moz-radial-gradient(center
		ellipse, rgba(0, 0, 0, 0.35) 0%,
				 rgba(0, 0, 0, 0) 80%);
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
}

.e22:hover:before{
	opacity: 0.4;
	-moz-transform: translateY(6px);
	-moz-animation: 1.5s moversombra infinite;
	-webkit-transform: translateY(6px);
	-webkit-animation: 1.5s moversombra infinite;
	-o-transform: translateY(6px);
	-o-animation: 1.5s moversombra infinite;
}