@import url('dist/sty_Keyframes.css');

html, body{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #CCCCCC;
	font-family: 'PT Sans', sans-serif;
}

.gfont{
	font-family: 'Pacifico', cursive;
}

nav{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	width: 20rem;
	height: auto;
	background: #1B4F72;
}

.nav__description{
	font-weight: bold;
}

.container__nav{
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	height: 40.8rem;
	box-shadow: 2px 2px 2px #7c7c7c;
}

.container__items__nav{
	text-align: center;
}

.img__nav{
	width: 10%;
}

.title{
	padding: 0rem 2rem;
	color: #fff;
}

.code{
	padding-bottom: 2.5rem;
	justify-content: flex-end;
}

.container__ppal{
	display: flex;
	flex-flow: row wrap;
	padding: 2%;
	width: 70%;
}

.container{
	flex-grow: 0.5;
	justify-content: space-arround;
	margin: 2%;
}

.cont__demo{
	width: 70%;
	padding: 15% 0%;
	text-align: center;
	justify-content: center;
	flex-grow: 0.5;
}

#item__demo{
	border: #1B4F72 solid 1px;
	margin: 0% 25%;
	background-color: #1B4F72;
	color: #fff;
	box-shadow: 2px 2px 2px #7c7c7c;
}

.item__description{
	border: #1B4F72 solid 1px;
	margin: 5% 25%;
	color: #000;
}

.cont__items{
	display: flex;
	flex-direction: column;
	
	width: 20%;
	margin: 2% 3%;
	height: 34rem;
	overflow-y: auto;
}

.items__option{
	text-align: center;
	padding: 5%;
	margin: 3%;
	box-shadow: 2px 2px 2px #7c7c7c;
	border: #1B4F72 solid 2px;
}

.description{
	text-transform: uppercase;
	padding: 2%;
}

@media screen and (max-width: 949px){
	html, body{
		display: flex;
		flex-flow: column wrap;
		overflow-y: hidden;
	}

	nav{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		width: 100%;
		height: 10%;
		background: #1B4F72;
	}

	.container__nav{
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		height: 20%;
	}

	.img__nav{
		width: 10%;
	}

	.code{
		padding-bottom: 2.5rem;
		justify-content: flex-end;
		text-align: center;
	}

	.img__responsive{
		width: 30%;
		padding-top: 20%;
	}

	.container__ppal{
		display: flex;
		flex-flow: row wrap;
		width: 90%;
		margin: 0% auto;
	}

	.cont__demo {
		width: 60%;
	}

	.cont__items{
		padding: 5% 0%;
	}
}

@media screen and (min-width: 950px){
	.cont__demo{
		padding: 15% 0%;
	}
}

@media screen and (max-width: 700px){
	.container__ppal{
		display: flex;
		flex-flow: column wrap;
		width: 90%;
		margin: 0% auto;
	}

	.cont__demo {
		width: 100%;
		/* padding: 15% 0%; */
	}

	.cont__items {
		flex-direction: row;
		width: 100%;
		height: auto;
	}

	.item__description{
		display: none;
	}

	.items__option{
		padding: 2% 10%;
    	margin: 0% 3%;
	}

	.cont__items{
		padding: 5% 0%;
	}
}

/**
*	ANIMATIONES
*/

.flash{
	-moz-animation: 2s flash infinite;
    -webkit-animation: 2s flash infinite;
    -o-animation: 2s flash infinite;
}

.rebote{
	-moz-animation: 2.5s rebote infinite;
	-webkit-animation: 2.5s rebote infinite;
	-o-animation: 2.5s rebote infinite;
}


.chicle{
	-moz-animation: 2.5s chicle infinite;
	-webkit-animation: 2.5s chicle infinite;
	-o-animation: 2.5s chicle infinite;
}

.giroX{
	-moz-animation: 2.5s giroX infinite;
	-moz-backface-visibility:visible;
	-webkit-animation: 2.5s giroX infinite;
	-webkit-backface-visibility:visible;
	-o-animation: 2.5s giroX infinite;
	-o-backface-visibility:visible;
}

.giro3D{
	-moz-animation: 2.5s giro infinite;
	-moz-backface-visibility:visible;
	-webkit-animation: 2.5s giro infinite;
	-webkit-backface-visibility:visible;
	-o-animation: 2.5s giro infinite;
	-o-backface-visibility:visible;
}

.salida{
	-moz-animation: 2.5s salida infinite;
	-webkit-animation: 2.5s salida infinite;
	-o-animation: 2.5s salida infinite;
}

.vibracionV{
	-moz-animation: 5.5s vibracionV infinite;
	-webkit-animation: 5.5s vibracionV infinite;
	-o-animation: 5.5s vibracionV infinite;
}

.vibracionH{
	-moz-animation: 5.5s vibracionH infinite;
	-webkit-animation: 5.5s vibracionH infinite;
	-o-animation: 5.5s vibracionH infinite;
}

.cartel{
	-moz-animation: 2.5s cartel infinite;
	-moz-transform-origin:top center;
	-webkit-animation: 2.5s cartel infinite;
	-webkit-transform-origin:top center;
	-o-animation: 2.5s cartel infinite;
	-o-transform-origin:top center;
}

.balanceo{
	-moz-animation: 2.5s balanceo infinite;
	-webkit-animation: 2.5s balanceo infinite;
	-o-animation: 2.5s balanceo infinite;
}

.vaiven{
	-moz-animation: 2.5s vaiven infinite;
	-webkit-animation: 2.5s vaiven infinite;
	-o-animation: 2.5s vaiven infinite;
}

.reboteIn{
	-moz-animation: 1.5s reboteIn infinite;
	-webkit-animation: 1.5s reboteIn infinite;
	-o-animation: 1.5s reboteIn infinite;
}

.click{
	-moz-animation: 1.5s click infinite;
	-webkit-animation: 1.5s click infinite;
	-o-animation: 1.5s click infinite;
}

.giro{
	-moz-transform-origin: center;
	-moz-animation: 1.5s giroSimple infinite;
	-webkit-transform-origin: center;
	-webkit-animation: 1.5s giroSimple infinite;
	-o-transform-origin: center;
	-o-animation: 1.5s giroSimple infinite;
}

.rotativoIn{
	-moz-animation: 1.5s rotativoIn infinite;
	-webkit-animation: 1.5s rotativoIn infinite;
	-o-animation: 1.5s rotativoIn infinite;
}

.velozIn{
	-moz-animation: 1.5s velozIn infinite;
	-webkit-animation: 1.5s velozIn infinite;
	-o-animation: 1.5s velozIn infinite;
}

.velozOut{
	-moz-animation: 1.5s velozOut infinite;
	-webkit-animation: 1.5s velozOut infinite;
	-o-animation: 1.5s velozOut infinite;
}

.descolgado{
	-moz-animation: 1.5s descolgado infinite;
	-moz-transform-origin: top left;
	-webkit-animation: 1.5s descolgado infinite;
	-webkit-transform-origin: top left;
	-o-animation: 1.5s descolgado infinite;
	-o-transform-origin: top left;
}

.aparicion{
	-moz-animation: 2.5s aparicion infinite;
	-webkit-animation: 2.5s aparicion infinite;
	-o-animation: 2.5s aparicion infinite;
}

.rotativoOut{
	-moz-animation: 1.5s rotativoOut infinite;
	-webkit-animation: 1.5s rotativoOut infinite;
	-o-animation: 1.5s rotativoOut infinite;
}